<div class="container" ng-init="fetchDrugstores()">

  <h2>Add new Drugstore</h2>

  <form class="form-inline" role="form">
    <div class="form-group">
      <label for="name">Name : </label>
      <input type="text"
             class="form-control"
             placeholder="Drugstore name"
             ng-model="name"
             id="new-drugstore-input-name">
    </div>
    <button type="submit"
            class="btn btn-default"
            ng-click="createNewDrugstore()">
            Add new drugstore
    </button>
  </form>

  <h2>Drugstore List</h2>

  <div class="table-responsive">
    <table class=table>
      <tr class="row drugstore-row" ng-repeat="drugstore in drugstores">
        <td ng-click="gotoDrugstore(drugstore)">
          {{drugstore.name}}
        </td>
      </tr>
    </table>
  </div>
</div>
